{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="{% static 'CadStudent/css/estilo.css' %}">
    <link rel="stylesheet" href="{% static 'CadStudent/css/base.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title%}</title>

</head>
<body>
    <header>
    <nav>
        <ul>
        <li><a href="{% url 'student_list' %}">Lista de Estudantes</a></li>
        <li><a href="{% url 'student_create' %}">Cadastrar</a></li>
        </ul>
    </nav>
</header>

<main>
        {% block content %} {% endblock %}
</main>

</body>
</html>


